<!DOCTYPE html>
<html>
<head>
  <title>LoginDemo</title>
		<%= stylesheet_link_tag    params[:controller] %>
		<%= stylesheet_link_tag    "bootstrap.min" %>
		<%= stylesheet_link_tag    "bootstrap-responsive.min" %>
		<%= stylesheet_link_tag    "unicorn.login" %>
  <%= javascript_include_tag "jquery.min" %>
  
		<script>
				/**
 * Unicorn Admin Template
 * Diablo9983 -> diablo9983@gmail.com
**/
$(document).ready(function(){

	var login = $('#loginform');
	var recover = $('#recoverform');
	var speed = 400;

	$('#to-recover').click(function(){
		login.fadeTo(speed,0.01).css('z-index','100');
		recover.fadeTo(speed,1).css('z-index','200');
	});

	$('#to-login').click(function(){
		recover.fadeTo(speed,0.01).css('z-index','100');
		login.fadeTo(speed,1).css('z-index','200');
	});
    
    if($.browser.msie == true && $.browser.version.slice(0,3) < 10) {
        $('input[placeholder]').each(function(){ 
       
        var input = $(this);       
       
        $(input).val(input.attr('placeholder'));
               
        $(input).focus(function(){
             if (input.val() == input.attr('placeholder')) {
                 input.val('');
             }
        });
       
        $(input).blur(function(){
            if (input.val() == '' || input.val() == input.attr('placeholder')) {
                input.val(input.attr('placeholder'));
            }
        });
    });

        
        
    }
});
		</script>
		
  <%= csrf_meta_tags %>
</head>
<body>

		<div id="loginbox" style="<%= loginbox_dynamic_height %>"> 
				<%= yield %>
		</div>
		
</body>
</html>
